gitdb~=4.0.10
Pillow~=9.5.0
pip~=23.1.2
attrs~=23.1.0
wheel~=0.38.4
tornado~=6.3.2
Jinja2~=3.1.2
toolz~=0.12.0
pytz~=2023.3
rich~=13.4.1
Pygments~=2.15.1
toml~=0.10.2
smmap~=5.0.0
mdurl~=0.1.2
numpy~=1.24.3
setuptools~=65.5.1
jsonschema~=4.17.3
pandas~=2.0.2
altair~=5.0.1
MarkupSafe~=2.1.3
openpyxl~=3.1.2
python-dateutil~=2.8.2
pyarrow~=12.0.0
pydeck~=0.8.1b0
blinker~=1.6.2
certifi~=2023.5.7
tzdata~=2023.3
Pympler~=1.0.1
tzlocal~=4.3
six~=1.16.0
idna~=3.4
urllib3~=2.0.2
tenacity~=8.2.2
click~=8.1.3
streamlit~=1.23.1
cachetools~=5.3.1
packaging~=23.1
pyrsistent~=0.19.3
zipp~=3.15.0
validators~=0.20.0
decorator~=5.1.1